.frontal {
  border: 5px solid #428bca;
}

.lateral {
  border: 5px solid #ec971f;
}

.imageClassification {
  text-align: center;
}
/* BB - Widen the container for larger pictures */

@media screen and (min-width: 1200px) {
  .container {
    width: 98%;
    /* width: 1600px; */
  }
}

/* Image Sizes */
@media screen and (min-width: 500px) {
  .image_frame {
    object-fit: contain;
    height: 250px;
  }  
}

@media screen and (min-width: 750px) {
  .image_frame {
    object-fit: contain;
    height: 300px;
  }  
}

@media screen and (min-width: 1000px) {
  .image_frame {
    object-fit: contain;
    height: 350px;
  }  
}

@media screen and (min-width: 1250px) {
  .image_frame {
    object-fit: contain;
    height: 400px;
  }  
}

@media screen and (min-width: 1500px) {
  .image_frame {
    object-fit: contain;
    height: 450px;
  }  
}
