/* BB - Widen the container for larger pictures */
@media screen and (min-width: 1200px) {
  #image0 {
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: "";
  }
}

.btn.btn-primary {
  display: block;
}
