<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compare Retinal Scans</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/2-col-portfolio.css') }}" rel="stylesheet">
    <!--    <link href="two_image.css" rel="stylesheet"> -->

    <link href="{{ url_for('static', filename='css/two_image.css') }}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="/images/favicon-32x32.png">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65274027-2', 'auto');
      ga('send', 'pageview');

    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="home" class="navbar-brand" href="/">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <select id="database" onload"OnSetDB(this)" onchange="OnSetDB(this)">
                          <option value="localhost">localhost</option>
                        </select>
                    </li>
                    <li>

            <!-- manually add users that you assigned tasks too in makeTasks.rb -->
                        <select id="username" onchange="OnSetUser(this.value)">
                          <option selected="selected">Choose your user</option>
                          <!-- <option value="benjamin">benjamin</option> -->
                        </select>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>





    <!-- Page Content -->
    <div class="container">
        <div class="row" id="si_database">
            <h3>Status Info</h3>
            <span id="si_db_label" class="label label-primary">Database</span>
            <span id="si_db">Localhost</span>
        </div>
        <div class="row">
            <span id="si_task_label" class="label label-primary">Tasks</span>
            <span id="si_tasks">0 unfinished tasks</span>
        </div>
        <div class="row">
            <span id="si_curtask_label" class="label label-primary">Current Task</span>
            <span id="si_curtask">Comparisons have not started</span>
        </div>
    
        <hr>

        <div class="row">
            <div id=create_new_user_div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">Create User</button>
            
                <!-- Modal -->
                <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createUserModalLabel">Create User Dialog</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <!-- Form for User input -->
                                <!-- request.form['username'] -->
                                <!-- request.form.get('username') -->
                                <form action="http://pop-os:8081/create_user" method="post">

                                  <label for="username">Username:</label><br>
                                  <input name="username" type="text" style="all: revert;"><br>
                                  <!-- Years of Experience -->
                                  <label>How many years of experience do you have working with brain tumor imaging?</label><br>

                                  <input type="radio" id="years-exp-0-2" name="years-exp" style="all: revert;" value="0-2">
                                  <label for="years-exp-0-2">0-2</label><br>

                                  <input type="radio" id="years-exp-3-5" name="years-exp" style="all: revert;" value="3-5">
                                  <label for="years-exp-3-5">3-5</label><br>

                                  <input type="radio" id="years-exp-6-8" name="years-exp" style="all: revert;" value="6-8">
                                  <label for="years-exp-6-8">6-8</label><br>

                                  <input type="radio" id="years-exp-8+" name="years-exp" style="all: revert;" value="8+">
                                  <label for="years-exp-8+">8+</label><br>

                                  <!-- Specialty -->
                                  <label>What do you specialize in?</label><br>

                                  <input type="radio" id="neuro-oncology" name="specialty" style="all: revert;" value="neuro-oncology">
                                  <label for="neuro-oncology">neuro-oncology</label><br>

                                  <input type="radio" id="neuroradiology" name="specialty" style="all: revert;" value="neuroradiology">
                                  <label for="neuroradiology">neuroradiology</label><br>

                                  <input type="radio" id="radiation oncology" name="specialty" style="all: revert;" value="radiation oncology">
                                  <label for="radiation oncology">radiation oncology</label><br>

                                  <input type="radio" id="other" name="specialty" style="all: revert;" value="other">
                                  <label for="other">other</label><br>

                                  <button class="btn btn-primary">Submit</button>

                                </form>


                                <!-- Form for User input -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- <button type="button" class="btn btn-primary">Submit</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p>Messages from form submission:</p>
            <ul class=flashes>
            {% for message in messages %}
              <li style="color:red;">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 id="to-do-message" class="page-header"></h1>
                <h1 id="" class="page-header">Please complete the survey below</h1>
                <button onclick="toggle_practice_mode()">Toggle Practice Mode:</button><span id=practice_mode>On</span>

                <!-- Button trigger modal -->
                <button type="button" data-toggle="modal" data-target="#Instructions">Instructions</button>
                <!-- Modal -->
                <div class="modal fade" id="Instructions" tabindex="-1" role="dialog" aria-labelledby="InstructionsLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="InstructionsLabel">Overview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>App Instructions:</p>
                            <ol>
                                <li>Click "Creat User" and fill out metadata about yourself.</li>
                                <li>Select yourself (the username you made) from the dropdown at the top of page.</li>
                            </ol>
                            <p>Optional: Click button "Toggle Practice Mode:" to allow for arrow keys to choose images. Otherwise you can click with you mouse. Controls are below.</p>
                            <p>***************</p>
                            <p>Arrow keys enabled (practice mode "Off"):</p>
                            <p>* Left Arrow: Left Image</p>
                            <p>* Right Arrow: Right Image</p>
                            <p>* Up Arrow: Tie</p>
                            <p>***************</p>

                            <hr>

                            <p>Task Overview:</p>
                            <img src="{{ url_for('static', filename='img/kathis_example_1.png') }}" class="img-fluid" style="width: 85%;" alt="">
                            <p>Brain tumor illustration without an outline. The turquoise area represents the tumor, i.e. the target area that should get captured by the outline.</p>
                            <p style="font-weight: bold;">In the following, we will show you different brain tumor outlines for the image above and ask you to decide which you prefer.</p>
                            Example:
                            <img src="{{ url_for('static', filename='img/kathis_example_2.png') }}" class="img-fluid" style="width: 85%;" alt="">
                            <p style="font-weight: bold;">For the two ilustrations above, for example, the left outline would be preferable because it captures the full tumor (the whole turquoise area is patterned) and in the right image more than half of the tumor is missed by the outline.</p>
                            <p style="font-weight: bold;">You will also get the option to say that you think both outlines are of the same quality. In this case, we'd ask you for a justification.</p>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                    </div>
                </div>
                <script>
                  window.onload = function() {
                    $('*[data-target="#Instructions"]')[0].click()
                  };
                </script>




            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div id="image-row" class="row">




          <div  class="col-md-5 portfolio-item" onclick="OnImage0()"  style="display:inline-block;">
            <img id="image0" class="img-responsive portfolio-item" src="https://via.placeholder.com/1250x500" alt="" style="width:100%;">
          </div>






          <div id=tie-button class="col-md-1 portfolio-item">
            <!-- <button type="button" class="btn btn-warning" style="display:block; margin:auto;">Tie</button> -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#tieModal">Tie</button>
          </div>




            <!-- Modal -->
            <div class="modal fade" id="tieModal" tabindex="-1" role="dialog" aria-labelledby="tieModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="tieModalLabel">Enter Justification For Tie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input id="tie_justification" type="text" value="default" style="all: revert;">
              </div>
              <div class="modal-footer">
                <button id="close-tie-button" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="OnNotSure()">Save Justification</button>
              </div>
              </div>
            </div>
            </div>



          <div  class="col-md-5 portfolio-item" onclick="OnImage1()" style="display:inline-block;">
            <img id="image1" class="img-responsive portfolio-item" src="https://via.placeholder.com/1250x500" alt="" style="width:100%;">
          </div>




        </div>
        <!-- /.row -->
        <hr>

    </div>
    <!-- /.Page Content -->


    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Feeder reference -->
    <script src="{{ url_for('static', filename='js/default.js') }}"></script>
    <script src="{{ url_for('static', filename='js/task_feeder.js') }}"></script>

    <!-- Test Get Image -->
    <!-- <script src="{{ url_for('static', filename='js/test_get_image.js') }}"></script> -->

    <!-- document ready behavior and handlers -->
    <script src="{{ url_for('static', filename='js/queryStringParser.js') }}"></script>
    <script src="{{ url_for('static', filename='js/commonUIUtil.js') }}"></script>
    <script src="{{ url_for('static', filename='js/two_image.js') }}"></script>

    <script src="{{ url_for('static', filename='js/uuidutil.js') }}"></script>

</body>

</html>

