body {
	margin-top: 50px; 
    margin-left: 40px;
}

.btn-primary{
  
  background: #0077FF;
  color: #FFFFFF; /* text */
  font: 16pt serif;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

footer {
	margin: 50px 0;
}