#columns-almostFinal{
    width: 100px;
    height: 300px;
    white-space: nowrap;
    display: inline-block;
    background-color: lightcoral;
    -webkit-box-sizing:border-box;
    overflow:auto;
}
.column {
    width: 50px;
    height: 200px;
    margin-top: 50px;
    margin-left: 15px;
    display: inline-block;
    background-color: lightgreen;
    -webkit-box-sizing:border-box;
}