


.thumbnail{
  width:120px;
  height:auto;
  /*margin-left:100px;*/
  margin: 0 auto;

}


.thumbnail:hover{
  -webkit-transform:scale(2.5 );

}


.fsImg{
  /*margin-left:100px;*/
  margin: 0 auto;

}

#left {

  /*  overflow-y: scroll;*/
  height:480px;
    overflow:auto;

  }

#right {

    /*  overflow-y: scroll;*/
    height:600px;
      overflow:auto;

    }
