<!-- TEMPLATE -->
{% extends "app_template.html" %}

<!-- TITLE -->
{% block title %}Classify Images{% endblock %}

<!-- CSS -->
{% block custom_css %}
<link href="{{ url_for('static', filename='css/image_class.css') }}" rel="stylesheet">
{% endblock %}

<!-- BODY -->
{% block content %}

<!-- Create User Start-->
<div class="row">
    <div id=create_new_user_div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">Create
            User</button>
        <p>Current User: <span id="current_user" style="color: red">User Not Created</span></p>


        <!-- Modal -->
        <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createUserModalLabel">Create User Dialog</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!-- Form for User input -->
                        <!-- request.form['username'] -->
                        <!-- request.form.get('username') -->
                        <form action="http://{{ app_config.DNS }}:{{ app_config.HTTP_PORT }}/create_user" method="post">

                            <label for="username">Username:</label><br>
                            <input name="username" type="text" style="all: revert;"><br>
                            <!-- Years of Experience -->
                            <label>How many years of experience do you have working with brain tumor
                                imaging?</label><br>

                            <input type="radio" id="years-exp-0-2" name="years-exp" style="all: revert;" value="0-2">
                            <label for="years-exp-0-2">0-2</label><br>

                            <input type="radio" id="years-exp-3-5" name="years-exp" style="all: revert;" value="3-5">
                            <label for="years-exp-3-5">3-5</label><br>

                            <input type="radio" id="years-exp-6-8" name="years-exp" style="all: revert;" value="6-8">
                            <label for="years-exp-6-8">6-8</label><br>

                            <input type="radio" id="years-exp-8+" name="years-exp" style="all: revert;" value="8+">
                            <label for="years-exp-8+">8+</label><br>

                            <!-- Specialty -->
                            <label>What do you specialize in?</label><br>

                            <input type="radio" id="neuro-oncology" name="specialty" style="all: revert;"
                                value="neuro-oncology">
                            <label for="neuro-oncology">neuro-oncology</label><br>

                            <input type="radio" id="neuroradiology" name="specialty" style="all: revert;"
                                value="neuroradiology">
                            <label for="neuroradiology">neuroradiology</label><br>

                            <input type="radio" id="radiation oncology" name="specialty" style="all: revert;"
                                value="radiation oncology">
                            <label for="radiation oncology">radiation oncology</label><br>

                            <input type="radio" id="other" name="specialty" style="all: revert;" value="other">
                            <label for="other">other</label><br>

                            <button class="btn btn-primary">Submit</button>
                            <p style="color:red;">If placeholders come up instead of images after creating a
                                user, hit
                                refresh.
                            </p>
                        </form>


                        <!-- Form for User input -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Create User End-->

<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 id="to-do-message" class="page-header">Please Select Class:</h1>
        <!-- <p>Note: Predicted algorithm claass shown in <button type="button" class="btn btn-warning">orange</button></p> -->



        <button onclick="ClassifyTaskFeeder.toggleKeyboardShortcuts()">Keyboard Shortcuts:</button><span
            id=keyboardShortcuts>Off</span>

        <!-- Button trigger modal -->
        <button type="button" data-toggle="modal" data-target="#Instructions">Instructions</button>
        <!-- Modal -->
        <div class="modal fade" id="Instructions" tabindex="-1" role="dialog" aria-labelledby="InstructionsLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="InstructionsLabel">Overview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>App Instructions:</p>
                        <ol>
                            <li>Select your user from the drop down at the top.</li>
                        </ol>
                        <p>Optional: Click button "Keyboard Shortcuts:" to allow for arrow keys to choose
                            images. Otherwise you can click with your mouse. Controls are below.</p>
                        <p>***************</p>
                        <p>Number keys enabled (practice mode "Off"):</p>
                        <p>* Number 1: No motion</p>
                        <p>* Number 2: Mild motion</p>
                        <p>* Number 3: Moderate motion</p>
                        <p>* Number 4: Severe motion</p>
                        <p>* </p>
                        <p>* Number 5: Neck/face/eyes</p>
                        <p>* Number 6: Flow/pulsation</p>
                        <p>* Number 7: Implant/metal</p>
                        <p>* Number 8: RF spike</p>
                        <p>* Number 9: Zipper</p>
                        <p>* </p>
                        <p>* Letter S: Submit</p>
                        <p>***************</p>

                        <p style="color: red;">NOTE: Choose ONE of the motion classifications.</p>
                        <p style="color: red;">      AND if any of the other artifact categories are present, select them as well.</p>

                        <hr>

                        <!-- <p>Task Overview:</p>
                                <img src="{{ url_for('static', filename='img/kathis_example_1.png') }}" class="img-fluid" style="width: 85%;" alt="">
                                <p>Brain tumor illustration without an outline. The turquoise area represents the tumor, i.e. the target area that should get captured by the outline.</p>
                                <p style="font-weight: bold;">In the following, we will show you different brain tumor outlines for the image above and ask you to decide which you prefer.</p>
                                Example:
                                <img src="{{ url_for('static', filename='img/kathis_example_2.png') }}" class="img-fluid" style="width: 85%;" alt="">
                                <p style="font-weight: bold;">For the two ilustrations above, for example, the left outline would be preferable because it captures the full tumor (the whole turquoise area is patterned) and in the right image more than half of the tumor is missed by the outline.</p>
                                <p style="font-weight: bold;">You will also get the option to say that you think both outlines are of the same quality. In this case, we'd ask you for a justification.</p> -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
        <script>
            window.onload = function () {
                $('*[data-target="#Instructions"]')[0].click()
            };
        </script>








    </div>
</div>
<!-- row -->

<!-- Projects Row -->
<div id="image-row" class="row">
    <div class="col-md-7">
        <img id="image0" class="img-responsive" src="https://via.placeholder.com/700x400">
    </div>

    <!-- buttons -->
    <!-- <div id="class_buttons" class="col-md-5">
        <h2 id="to-do-message" class="page-header">Class Choices:</h2>
        <button type="button" class="btn btn-primary" id="no_motion"
            onclick="ClassifyTaskFeeder.classifySubmit(this)">no motion</button>
        <br>
        <button type="button" class="btn btn-primary" id="mild_motion"
            onclick="ClassifyTaskFeeder.classifySubmit(this)">mild motion</button>
        <br>
        <button type="button" class="btn btn-primary" id="moderate_motion"
            onclick="ClassifyTaskFeeder.classifySubmit(this)">moderate motion</button>
        <br>
        <button type="button" class="btn btn-primary" id="severe_motion"
            onclick="ClassifyTaskFeeder.classifySubmit(this)">severe motion</button>
        <br>

    </div> -->
    <!-- checkboxes  -->
    <div id="class_checkboxes" class="col-md-2">
        <h2 class="page-header">Main Choices:</h2>
        <!-- <form onSubmit="ClassifyTaskFeeder.classifySubmit()"> -->
        <input type="checkbox" id="no_motion" name="no_motion" value="no_motion">
        <label for="no_motion"> No motion</label><br><br>
        <input type="checkbox" id="mild_motion" name="mild_motion" value="mild_motion">
        <label for="mild_motion"> Mild motion</label><br><br>
        <input type="checkbox" id="moderate_motion" name="moderate_motion" value="moderate_motion">
        <label for="moderate_motion"> Moderate motion</label><br><br>
        <input type="checkbox" id="severe_motion" name="severe_motion" value="severe_motion">
        <label for="severe_motion"> Severe motion</label><br><br>

        <h2 class="page-header">Additional Labels:</h2>
        <input type="checkbox" id="neck" name="neck" value="neck">
        <label for="neck"> Neck/face/eyes</label><br><br>
        <input type="checkbox" id="flow" name="flow" value="flow">
        <label for="flow"> Flow/pulsation</label><br><br>
        <input type="checkbox" id="implant" name="implant" value="implant">
        <label for="implant"> Implant/metal</label><br><br>
        <input type="checkbox" id="spike" name="spike" value="spike">
        <label for="spike"> RF spike</label><br><br>
        <input type="checkbox" id="zipper" name="zipper" value="zipper">
        <label for="zipper"> Zipper</label><br><br>
        <input type="submit" id="submit" name="submit" value="Submit" onclick="ClassifyTaskFeeder.classifySubmit()">
        <!-- </form> -->

        <!-- Back Button -->
        <button type="button" class="btn btn-danger" id="previousClassification"
            onclick="ClassifyTaskFeeder.resetToPreviousClassification(this)">Go
            Back One</button>
    </div>

</div>
{% endblock %}


<!-- JS -->
{% block js_scripts %}
<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- document ready behavior and handlers -->
<script src="{{ url_for('static', filename='js/image_class.js') }}"></script>

<!-- Feeder reference -->
<script src="{{ url_for('static', filename='js/default.js') }}"></script>

{% endblock %}
