<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Image Comparator</title>

    <style>
        body {
            margin:4%;
        }
    </style>

<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">

</head>

<body>

    <h2>Image Comparator</h2>

    <br>

    <label>To see the image comparison user interface go </label>
    <a href = "/two_image"> here</a>

    <br>

    <label>To see the image classification go</label>
    <a href = "/image_class"> here</a>

    <br>

    <label>To see the grid classifier</label>
    <a href = "/grid_class"> here</a>

    <br>

    <!-- <label>To see the pair classifier</label>
    <a href = "/pair_image"> here</a> -->

    <p></p>

    <!--
    <label> To see the image comparison user interface to compare two OCT scans go </label>
    <a href = "ui/oct_two_image.html"> here</a>
    -->

</body>

</html>
